@kodus:registry=https://us-central1-npm.pkg.dev/kodus-infra-prod/kodus-common/
//us-central1-npm.pkg.dev/kodus-infra-prod/kodus-common/:_authToken=
//us-central1-npm.pkg.dev/kodus-infra-prod/kodus-common/:always-auth=false
